@import "compass";
@import "theme_variables";
.shop-phone {
	float: left;
	padding: 5px 0 10px;
	@media (max-width: $screen-xs-max) {
		
	}
	i {
		font-size: 21px;
		line-height: 21px;
		color: $light-text-color;
		padding-right: 7px;
	}
	strong {
		color: $light-text-color;
	}
}
#contact-link {
	float: right;
	padding-right:20px;
		@media (max-width: $screen-xs-max) { 
			padding-right:0;
			min-height:45px;
			width:25%;
			text-align:center;
			border-right:1px solid #111;	
		}													
	a {
		display: block;
		color: $dark-text-color;
		font: 400 13px / 16px $font-custom;
		padding: 1px 0px 0px 0px;
		cursor: pointer;
		@media (max-width: $screen-xs-max) { 
			font-size: 11px;
			padding:20px 0 20px 0;
			background: $dark-background;
			color: $light-text-color;
				&:hover, &.active {
					color: $light-text-color;
					background: $dark-background-act;
				}
		}
		&:hover, &.active {
		color: $dark-text-color-act;
			@media (max-width: $screen-xs-max) { 
				color: $light-text-color;
			}
		}
	}
}
#contact_block {
	@media (max-width: $screen-xs-max) { // max 767px
		margin-bottom: 20px;
	}
	.label {
		display: none
	}
	.block_content {
		color: #888888;
	}
	p {
		margin-bottom: 4px;
	}
	p.tel {
		font: 400 17px/21px $font-family;
		color: $base-text-color;
		margin-bottom: 6px;
		i {
			font-size: 25px;
			vertical-align: -2px; 
			padding-right: 10px;
		}
	}
}