@import "compass";
@import "theme_variables";

/* Home hook CSS */
#htmlcontent_home {
	ul {
		margin: 0 -5px;
		li {
			padding: 0 5px 10px;
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;
			}
			img {
				max-width: 100%;
				height: auto;
				@media (max-width: $screen-xs - 1) { // max 479px
					min-width: 100%;
				}
			}
			&.htmlcontent-item-5 {
				width: 66.6667%;
				@media (max-width: $screen-xs - 1) { // max 479px
					width: 100%;
				}
			}
		}
	}
}

/* Top hook CSS */
#htmlcontent_top {
	float: left;
	width: 33.4%;
	max-width: 391px;
	@media (max-width: $screen-xs-max) { // max 767px
		max-width: 100%;
		padding-left: 0;
		padding-top: 0px;
	}
	ul {
		@media (max-width: $screen-xs-max) { // max 767px
			margin: 0 -5px;
		}
		li {
			margin-bottom: 10px;
			@media (max-width: $screen-xs-max) { // max 767px
				float: left;
				padding-left: 5px;
				padding-right: 5px;
				width: 50%;
			}
			&:last-child{
				margin-bottom: 0;
			}
			img {
				max-width: 100%;
				height: auto;	
			}
		}
	}
}

/* Top hook CSS */
#htmlcontent_top {
  float: left;
  width: 100%;
  max-width: 100%;
  padding-top:16px;
  display:none;
}
body#index #htmlcontent_top{
	display:block;
}
#htmlcontent_top li{
}
#htmlcontent_top  a.item-link{
	position:relative;
	display:block;
	border:1px solid #e5e5e5;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#htmlcontent_top .htmlcontent-item-5 a.item-link{
	border:1px solid #ed1111;
}
#htmlcontent_top .htmlcontent-item-5 div.item-html{
	width:88%;
}
#htmlcontent_top div.item-html{
	position:absolute;
	left:6%;
	top:12%;
}
#htmlcontent_top  a.item-link h2{
	text-transform:uppercase;
	color:#6c4b30;
	font-size:20px;
	line-height:25px;
	font-weight:500;
	font-family: 'Raleway', sans-serif;
	margin-bottom:12px;
}
#htmlcontent_top  a.item-link h3{
	color:#ed1111;
	font: 300 16px / 21px $font-custom;
	margin:0 0 27px 0;
	padding-left:3px;
}
#htmlcontent_top .htmlcontent-item-6 a.item-link h3 {
	font: 300 28px / 21px $font-custom;
}
#htmlcontent_top  a.item-link h5{
	color:#fdf7f2;
	font: 700 42px / 45px 'Raleway', sans-serif;
	margin:24px 0 9px 0;
	text-align:center;
	text-transform:uppercase;
}
#htmlcontent_top  a.item-link h6{
	color:#fdf7f2;
	font: 700 29px / 33px 'Raleway', sans-serif;
	margin:0 0 0px 0;
	text-align:center;
}
#htmlcontent_top  a.item-link span{
	color:#fff;
	font-size:13px;
	font-weight:500;
	margin-left:3px;
	text-transform:uppercase;
	font-family: 'Raleway', sans-serif;
	background: $dark-background;
	padding:11px 16px 10px 16px;
	display:inline-block;
}
#htmlcontent_top  a.item-link span:hover{
	background: $dark-background-act;
}
#htmlcontent_top  a.item-link:hover{
	-webkit-box-shadow: 0 0 12px 0 rgba(229,229,229,0.8);
	box-shadow: 0 0 12px 0 rgba(229,229,229,0.8);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#htmlcontent_top  .htmlcontent-item-5 a.item-link:hover{
	-webkit-box-shadow: 0 0 12px 0 rgba(237,17,17,0.3);
	box-shadow: 0 0 12px 0 rgba(237,17,17,0.3);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}


  @media (max-width: 767px) {
    #htmlcontent_top {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      padding-top: 0px; 
	 } }
  @media (max-width: 767px) {
    #htmlcontent_top ul {
      margin: 0 -5px; } }
  #htmlcontent_top ul li {
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      #htmlcontent_top ul li {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
		margin-bottom:20px;
        width: 100%; text-align:right;
	} }
    #htmlcontent_top ul li.htmlcontent-item-4,
	#htmlcontent_top ul li.htmlcontent-item-5,
	#htmlcontent_top ul li.htmlcontent-item-6{
      margin-bottom: 0; }
    #htmlcontent_top ul li img {
      max-width: 100%;
      height: auto; }

/* Left hook CSS */
/* Right hook CSS */
/* Footer hook CSS */
#htmlcontent_footer{ 
	float:left;
	min-width:285px;
	padding-top:52px;
	padding-left:13px;
}
#htmlcontent_footer  a.item-link{
	div.item-html{
		font-family: 'Raleway', sans-serif;
		font-size:50px;
		font-weight:bold;
		display:inline-block;
		color: $base-text-color;
	}
	&:hover div.item-html{
		color:#a5a4a4;
	}
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
#htmlcontent_footer .item-html{
	font-size:33px;
}
#htmlcontent_footer{
	min-width:240px;
}
.footer-container #footer .bottom-footer div{
	width:200px;
}
#htmlcontent_top div.item-html {
    top: 0%;
}
#htmlcontent_top a.item-link h2{
	margin-bottom:8px;
	font-size:18px;
}
#htmlcontent_top a.item-link h3{
	margin-bottom:19px;
}
#htmlcontent_top a.item-link p{
	margin-bottom:13px;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
#htmlcontent_top div.item-html {
    top: 7%;
}
#htmlcontent_top a.item-link h2{
	margin-bottom:2px;
	font-size:14px;
	margin-top:0;
}
#htmlcontent_top a.item-link h3{
	margin-bottom:13px;
}
#htmlcontent_top a.item-link p{
	margin-bottom:8px;
	font-size: 10px;
    width: 122px;
}
#htmlcontent_top a.item-link h5 {
    font: 700 27px/37px "Raleway",sans-serif;
    margin: 12px 0 9px;
}
#htmlcontent_top a.item-link h6 {
    font: 700 20px/22px "Raleway",sans-serif;
}
#htmlcontent_top a.item-link span {
    font-size: 11px;
    padding: 6px 6px 4px;
}
#htmlcontent_footer {
    min-width: 180px;
    width: 180px;
}
#htmlcontent_footer .item-html{
	font-size:28px;
}
}
@media only screen  and (max-width: 767px) {
#htmlcontent_top div.item-html {
    left: 6%;
    position: absolute;
    text-align: center;
    top: 12%;
    width: 71%;
}
#htmlcontent_top a.item-link p{
	width:100%;
}
#htmlcontent_footer{
		width: 280px;
		float:none;
		padding-bottom:30px;
}
#htmlcontent_top ul li.htmlcontent-item-4, #htmlcontent_top ul li.htmlcontent-item-5, #htmlcontent_top ul li.htmlcontent-item-6{
		margin-bottom:20px;
}
#htmlcontent_top .htmlcontent-item-5 a.item-link{
	background:#ED1111;
}
}

@media only screen  and (max-width: 480px) {
#htmlcontent_top div.item-html{
	text-align:left;
}
#htmlcontent_top div.item-html{
	top:2%;
	left:5%;
}
#htmlcontent_top a.item-link h2{
	font-size:16px;
	margin-top:10px;
	margin-bottom:8px;
}
#htmlcontent_top a.item-link p {
	padding-right:0px;
    margin-bottom: 15px;
	width:140px;
}
#htmlcontent_top a.item-link h5 {
    font: 700 35px/37px "Raleway",sans-serif;
	 margin: 34px 0 9px;
}
#htmlcontent_top a.item-link h6 {
    font: 700 25px/27px "Raleway",sans-serif;
}
}