@import "compass";
@import "theme_variables";

#languages-block-top {
	float: right;
	padding-right:22px;
	position: relative;
	// max 479px
	@media (max-width: $screen-xs-max) { 
			width:25%;
			padding-right:0;	
			text-align:center;
			min-height:45px;
			border-right:1px solid #111;	
	}													
	span.firstWord {
		display: none;
	}
	div.current {
		font: 400 13px / 16px $font-custom;
		padding: 0px 0px 0px 0px;
		color: $dark-text-color;
		cursor: pointer;
		@media (max-width: $screen-xs-max) { 
			background: $dark-background;
			color: $light-text-color;
			text-align: center;
			padding:20px 0 20px 0;
			font-size: 11px;
						&:hover{
					background: $dark-background-act;
					color: $light-text-color;
			}
		}
		strong {
			color: $dark-text-color;
		}
		&:hover, &.active {
			color: $dark-text-color-act;
				@media (max-width: $screen-xs-max) { 
					color: $light-text-color;
					background: $dark-background-act;
				}
		}
		&:hover strong, &.active strong {
			color: $dark-text-color-act;
			@media (max-width: $screen-xs-max) { 
			color: $light-text-color;
			}
		}
		&:after {
			content: "\f0d7";
			font-family: $font-icon;
			font-size: 10px;
			line-height: 18px;
			color: $dark-text-color;
			vertical-align: 1px;
			padding-left: 12px;
			// max 479px
			@media (max-width: $screen-xs-max) { 
				padding-left: 2px;
				font-size: 13px;
				line-height: 13px;
				vertical-align: 0;
				color: $light-text-color;
			}
		}
		.cur-label {
			// max 479px
			@media (max-width: $screen-xs-max) { 
				display: none;
			}
		}
	}
	ul {
		display: none;
		position: absolute;
		top: 33px;
		left: 0;
		width: 157px;
		background: #000;
		z-index: 2;
		// max 767px
		@media (max-width: $screen-xs-max) { 
			top:56px;
			left:-1px;
		}
		li {
			color: $light-text-color;
			line-height: 35px;
			font-size: 13px;
			border-top:1px solid #343333;
				@media (max-width: $screen-xs-max) { 
					text-align:left;
					 &:first-child {
						 border:none;
					}
				}
			a,
			> span {
				padding: 0 10px 0 12px;
				display: block;
				color: $light-text-color;
				-webkit-transition: background 0.3s linear;
				-moz-transition: background 0.3s linear;
				-ms-transition: background 0.3s linear;
				-o-transition: background 0.3s linear;
				transition: background 0.3s linear;
			}
			&.selected, &:hover a {
				background: #444444;
				-webkit-transition: background 0.3s linear;
				-moz-transition: background 0.3s linear;
				-ms-transition: background 0.3s linear;
				-o-transition: background 0.3s linear;
				transition: background 0.3s linear;
			}
		}
	}
}